<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="education.top.repository.oracle.BoardMapper">

    <select id="findAll" resultType="Board">
        SELECT b.id, b.title, b.writer, b.content, b.rdate, b.readed
        FROM (
            SELECT ROWNUM no, t.id, t.title, t.writer, t.content, t.rdate, t.readed
            FROM(
                SELECT id, title, writer, content, rdate, readed FROM Board
                ORDER BY id DESC
                )t
            )b
        WHERE b.no BETWEEN #{begin} and #{end}
    </select>

    <insert id="write" parameterType="Board">
        INSERT INTO Board
        VALUES (board_sequence.nextval, #{title}, #{writer}, #{content}, sysdate, 0)
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT board_sequence.currval FROM dual
        </selectKey>
<!--        <selectKey keyProperty="rdate" resultType="Date" order="AFTER">-->
<!--            SELECT rdate FROM dual-->
<!--        </selectKey>-->
    </insert>

    <select id="findById" resultType="Board">
        SELECT id, title, writer, content, rdate, readed FROM Board
        WHERE id = #{id}
    </select>

    <delete id="delete">
        DELETE FROM Board WHERE id = #{id}
    </delete>

    <delete id="deleteMulti">
        DELETE FROM Board WHERE id IN
                          <foreach item="ids" index="index" collection="list" open="(" separator="," close=")">
                            #{ids}
                          </foreach>
    </delete>

    <update id="update" parameterType="Board">
        UPDATE Board SET title = #{title}, content = #{content}
        WHERE id = #{id}
    </update>

    <update id="read">
        UPDATE Board SET readed = readed+1
        WHERE id = #{id}
    </update>

    <select id="getTotalRecords" resultType="Integer">
        SELECT COUNT(*) FROM Board
    </select>

    <select id="getTotalRecordsByWord" resultType="Integer">
        SELECT COUNT(*) FROM Board
        WHERE REGEXP_LIKE(
        <choose>
            <when test='searchCondition.equals("01")'>
                title
            </when>
            <otherwise>
                writer
            </otherwise>
        </choose>
        , #{searchWord}, 'i')
    </select>

    <select id="findAllByWord" resultType="Board">
        SELECT b.id, b.title, b.writer, b.content, b.rdate, b.readed
        FROM (
                 SELECT ROWNUM no, t.id, t.title, t.writer, t.content, t.rdate, t.readed
                 FROM(
                     SELECT id, title, writer, content, rdate, readed
                     FROM Board
                     WHERE REGEXP_LIKE(
                     <choose>
                         <when test='searchCondition.equals("01")'>
                             title
                         </when>
                        <otherwise>
                            writer
                        </otherwise>
                     </choose>
                   , #{searchWord}, 'i')
                     ORDER BY id DESC
                     )t
             )b
        WHERE b.no BETWEEN #{begin} and #{end}
    </select>
</mapper>