<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <style>
    table, td{
      margin: auto;
      border: black 1px solid;
      text-align: center;
    }
    th{
      font-size: 18px;
    }
    button{
      margin: auto;
      text-align: center;
    }
    a{
      text-decoration: none;
      color: black;
    }
    td[name=title]:hover{
      cursor: pointer;
    }
  </style>
</head>
<body>

 <form th:action th:name="searchForm">
   <input type="hidden" th:value="${pageBlock.currentPage}" th:name="currentPage">
   <input type="hidden" th:value="${pageBlock.numberPerPage}" th:name="numberPerPage">
   <select name="searchCondition">
     <th:block th:each="comCode : ${comCodes}">
       <th:block th:if="${comCode.comGrpCd eq '01'}">
         <option th:if="${comCode.comCode} eq ${searchCondition}" th:text="${comCode.codeDesc}" th:value="${comCode.comCode}" selected></option>
         <option th:unless="${comCode.comCode} eq ${searchCondition}" th:text="${comCode.codeDesc}" th:value="${comCode.comCode}"></option>
       </th:block>
     </th:block>
   </select>
   <input id="searchWord" type="text" placeholder="검색어를 입력해주세요" th:value="${searchWord}" th:name="searchWord">
   <input type="submit" value="검색">
 </form>

  <button id="del">선택삭제</button>
  <button id="write">글 작성</button>

  <table class="board">
    <tr>
      <td><input id="totalCheck" type="checkbox"></td>
      <td>번호</td>
      <td>제목</td>
      <td>작성자</td>
      <td>작성일자(YYYY-MM-DD HH24.MI.SS)</td>
    </tr>

    <!-- 게시글 받아오기  -->
    <th:block th:if="${!#lists.isEmpty(boards)}">
      <tr class="row" th:each="board: ${boards}">
        <td class="check"><input th:id="${board.id}" type="checkbox"></td>
        <td th:text="${boardNo} - ${boardStat.index}"></td>
        <td th:text="${board.title}" th:name="title"></td>
        <td th:text="${board.writer}"></td>
        <td th:text="${{board.rdate}}"></td>
        <td name='rowDel'><button>삭제하기</button></td>
      </tr>
    </th:block>
  </table>

  <div>
    <ul class="pagination">
      <li th:if="${pageBlock.isPrev}">
        <a th:href="@{/board/v2(currentPage=${pageBlock.startOfPageBlock-1}, numberPerPage=${pageBlock.numberPerPage}, searchCondition=${searchCondition}, searchWord=${searchWord})}">&lsaquo;</a>
      </li>
      <th:block th:each="num : ${#numbers.sequence(pageBlock.startOfPageBlock, pageBlock.endOfPageBlock)}">
        <li th:if="${num eq pageBlock.currentPage}" style="font-weight: bold">
          <span>[[${num}]]</span>
        </li>
        <li th:unless="${num eq pageBlock.currentPage}">
          <a th:href="@{/board/v2(currentPage=${num}, numberPerPage=${pageBlock.numberPerPage}, searchCondition=${searchCondition}, searchWord=${searchWord})}">[[${num}]]</a>
        </li>
      </th:block>
      <li th:if="${pageBlock.isNext}">
        <a th:href="@{/board/v2(currentPage=${pageBlock.endOfPageBlock+1}, numberPerPage=${pageBlock.numberPerPage}, searchCondition=${searchCondition}, searchWord=${searchWord})}">&rsaquo;</a>
      </li>
    </ul>
  </div>

  <select name="pageCount">
    <th:block th:each="comCode : ${comCodes}">
      <th:block th:if="${comCode.comGrpCd eq '02'}">
        <option th:if="${comCode.codeDesc} eq ${pageBlock.numberPerPage}+'개'" th:text="${comCode.codeDesc}" selected></option>
        <option th:unless="${comCode.codeDesc} eq ${pageBlock.numberPerPage}+'개'" th:text="${comCode.codeDesc}"></option>
      </th:block>
    </th:block>
  </select>

<script th:inline="javascript">
  let currentPage = [[${pageBlock.currentPage}]];
  /**
   * 체크박스 전체 클릭
   */
  $("#totalCheck").on("click", function (){
    let check = true;
    if ($(this).is(":checked") == false) {
      check = false;
    }

    $("td.check > input[type=checkbox]").each(function (){
      if ($(this).is(":checked") == true && check == true) return;
      $(this).attr("checked", check);
    });
  });

  /**
   * 선택 삭제하기
   */
  $("#del").on("click", function () {
    const checkBoxArr = [];
    const numberPerPage = [[${pageBlock.numberPerPage}]];
    $("td.check > input[type=checkbox]").each(function () {
      if ($(this).is(":checked") == true) {
        checkBoxArr.push($(this).attr("id"));
      }
    });

    if (!$.isEmptyObject(checkBoxArr)){
      console.log($("td.check > input[type=checkbox]").length);
      if ($("td.check > input[type=checkbox]").length == checkBoxArr.length) currentPage--
      alert(checkBoxArr.length + "건 삭제 완료");
      $.deleteRow(checkBoxArr, currentPage, numberPerPage);
    }else {
      alert("선택된 체크박스가 없습니다.")
    }
  });

  /**
   * 단일 삭제
   */
  $(document).on("click", "td[name=rowDel] > button", function (){
    const checkBoxArr = [];
    const numberPerPage = [[${pageBlock.numberPerPage}]];
    const $check = $(this).closest("td").siblings(".check").children("input[type=checkbox]").attr("id");
    checkBoxArr.push($check);
    if ($("td.check > input[type=checkbox]").length == 1) currentPage--;
    $.deleteRow(checkBoxArr,currentPage, numberPerPage);
  });

  $.deleteRow = function (checkBoxArr, currentPage, numberPerPage){
    $.ajax({
      url: "/ajax/del",
      data: {
        checkBoxArr,
        currentPage
      },
      dataType:"json",
      type: "POST",
      cache: false,
      success: function (result) {
        let begin = result.totalRecords - (currentPage-1) * numberPerPage;

        $("tr.row").each(function () {
          $(this).remove();
        });

        //게시판 다시 그리기
        $.each(result.boards, function (key, value){
          $("table.board").append("<tr class='row'>" +
                  "<td class='check'><input id='"+ value.id +"' type='checkbox'></td>" +
                  "<td>" + begin-- +"</td>" +
                  "<td name='title'>" + value.title +"</td>" +
                  "<td>" + value.writer + "</td>" +
                  "<td>" + value.rdate +"</td>" +
                  "<td name='rowDel'><button>삭제하기</button></td>"
                  + "</tr>")
        });

        //페이지 다시 처리
        $("ul.pagination").empty();
        const pageBlock = result.pageBlock;
        pageBlock.currentPage = pageBlock.currentPage > pageBlock.endOfPageBlock ? pageBlock.endOfPageBlock : pageBlock.currentPage;
        if (pageBlock.prev){
          $("ul.pagination").append("<li><a href='/board/v2?currentPage=" + parseInt(pageBlock.startOfPageBlock-1) + "&numberPerPage="
                  + pageBlock.numberPerPage + "&searchCondition=" + result.searchCondition + "&searchWord=" + result.searchWord + "'>&lsaquo;</a></li>");
        }
        for (let i = pageBlock.startOfPageBlock; i<= pageBlock.endOfPageBlock; i++){
          if (pageBlock.currentPage == i){
            $("ul.pagination").append("<li style='font-weight: bold'><span>" + i +"</span></li>");
          }else{
            $("ul.pagination").append("<li><a href='/board/v2?currentPage=" + i + "&numberPerPage="
                    + pageBlock.numberPerPage + "&searchCondition=" + result.searchCondition + "&searchWord=" + result.searchWord + "'>"+ i +"</a></li>");
          }
        }
        if (pageBlock.next){
          $("ul.pagination").append("<li><a href='/board/v2?currentPage=" + parseInt(pageBlock.endOfPageBlock+1) + "&numberPerPage="
                  + pageBlock.numberPerPage + "&searchCondition=" + result.searchCondition + "&searchWord=" + result.searchWord + "'>&rsaquo;</a></li>");
        }

        $("#totalCheck").prop("checked", false);
      },
      error: function (xhr, status, error) {
        alert(error);
      }
    });
  }

  /**
   * 글쓰기
   */
  $("#write").on("click", function (){
    window.open('/board/v2/form', 'writeForm', 'top=140, left=300, width=500, height=600');
  });

  /**
   * 상세보기
   */
  $(document).on("click", "td[name=title]" ,function (){
    const $id = $(this).siblings("td.check").children("input[type=checkbox]").attr("id");
    window.open('/board/v2/view/' + $id, 'writeForm', 'top=140, left=300, width=500, height=600');
  });

  /**
   * 목록 수 체크
   */
  $(document).on("change", "select[name=pageCount]", function (){
    const currentPage = [[${pageBlock.currentPage}]];
    const searchWord = [[${searchWord}]];
    if (searchWord === ""){
      location.href = "/board/v2?currentPage=" + currentPage + "&numberPerPage=" + $(this).val().slice(0, -1);
    }else{
      const searchCondition = [[${searchCondition}]];
      location.href = "/board/v2?currentPage=" + currentPage + "&numberPerPage=" + $(this).val().slice(0, -1) +
              "&searchCondition=" + searchCondition + "&searchWord=" + searchWord;
    }
  });


</script>
</body>
</html>